@font-face {
    font-family: 'Matter Mono-TRIAL';
    src: url('MatterMono-BlackItalic.woff2') format('woff2'),
        url('MatterMono-BlackItalic.woff') format('woff');
    font-weight: 900;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Matter Mono-TRIAL';
    src: url('MatterMono-Black.woff2') format('woff2'),
        url('MatterMono-Black.woff') format('woff');
    font-weight: 900;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Matter Mono-TRIAL';
    src: url('MatterMono-Bold.woff2') format('woff2'),
        url('MatterMono-Bold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Matter VF-TRIAL';
    src: url('MatterVF-Regular-TRIAL.woff2') format('woff2'),
        url('MatterVF-Regular-TRIAL.woff') format('woff');
    font-weight: 100;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Matter Mono-TRIAL';
    src: url('MatterMono-BoldItalic.woff2') format('woff2'),
        url('MatterMono-BoldItalic.woff') format('woff');
    font-weight: bold;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Matter Mono-TRIAL';
    src: url('MatterMono-Heavy.woff2') format('woff2'),
        url('MatterMono-Heavy.woff') format('woff');
    font-weight: 900;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Matter Mono-TRIAL';
    src: url('MatterMono-HeavyItalic.woff2') format('woff2'),
        url('MatterMono-HeavyItalic.woff') format('woff');
    font-weight: 900;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Matter Mono-TRIAL';
    src: url('MatterMono-Light.woff2') format('woff2'),
        url('MatterMono-Light.woff') format('woff');
    font-weight: 300;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Matter Mono-TRIAL';
    src: url('MatterMono-LightItalic.woff2') format('woff2'),
        url('MatterMono-LightItalic.woff') format('woff');
    font-weight: 300;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Matter Mono-TRIAL';
    src: url('MatterMono-Medium.woff2') format('woff2'),
        url('MatterMono-Medium.woff') format('woff');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Matter Mono-TRIAL';
    src: url('MatterMono-MediumItalic.woff2') format('woff2'),
        url('MatterMono-MediumItalic.woff') format('woff');
    font-weight: 500;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Matter Mono-TRIAL';
    src: url('MatterMono-Regular.woff2') format('woff2'),
        url('MatterMono-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Matter Mono-TRIAL';
    src: url('MatterMono-RegularItalic.woff2') format('woff2'),
        url('MatterMono-RegularItalic.woff') format('woff');
    font-weight: normal;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Matter Mono-TRIAL';
    src: url('MatterMono-SemiBold.woff2') format('woff2'),
        url('MatterMono-SemiBold.woff') format('woff');
    font-weight: 600;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Matter Mono-TRIAL';
    src: url('MatterMono-SemiBoldItalic.woff2') format('woff2'),
        url('MatterMono-SemiBoldItalic.woff') format('woff');
    font-weight: 600;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Matter Mono-TRIAL';
    src: url('MatterMono-Thin.woff2') format('woff2'),
        url('MatterMono-Thin.woff') format('woff');
    font-weight: 100;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Matter Mono-TRIAL';
    src: url('MatterMono-ThinItalic.woff2') format('woff2'),
        url('MatterMono-ThinItalic.woff') format('woff');
    font-weight: 100;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Matter SemiMono-TRIAL';
    src: url('MatterSemiMono-Black.woff2') format('woff2'),
        url('MatterSemiMono-Black.woff') format('woff');
    font-weight: 900;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Matter SemiMono-TRIAL';
    src: url('MatterSemiMono-BlackItalic.woff2') format('woff2'),
        url('MatterSemiMono-BlackItalic.woff') format('woff');
    font-weight: 900;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Matter SemiMono-TRIAL';
    src: url('MatterSemiMono-Bold.woff2') format('woff2'),
        url('MatterSemiMono-Bold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Matter SemiMono-TRIAL';
    src: url('MatterSemiMono-Heavy.woff2') format('woff2'),
        url('MatterSemiMono-Heavy.woff') format('woff');
    font-weight: 900;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Matter SemiMono-TRIAL';
    src: url('MatterSemiMono-BoldItalic.woff2') format('woff2'),
        url('MatterSemiMono-BoldItalic.woff') format('woff');
    font-weight: bold;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Matter SemiMono-TRIAL';
    src: url('MatterSemiMono-HeavyItalic.woff2') format('woff2'),
        url('MatterSemiMono-HeavyItalic.woff') format('woff');
    font-weight: 900;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Matter SemiMono-TRIAL';
    src: url('MatterSemiMono-Light.woff2') format('woff2'),
        url('MatterSemiMono-Light.woff') format('woff');
    font-weight: 300;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Matter SemiMono-TRIAL';
    src: url('MatterSemiMono-Medium.woff2') format('woff2'),
        url('MatterSemiMono-Medium.woff') format('woff');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Matter SemiMono-TRIAL';
    src: url('MatterSemiMono-LightItalic.woff2') format('woff2'),
        url('MatterSemiMono-LightItalic.woff') format('woff');
    font-weight: 300;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Matter SemiMono-TRIAL';
    src: url('MatterSemiMono-MediumItalic.woff2') format('woff2'),
        url('MatterSemiMono-MediumItalic.woff') format('woff');
    font-weight: 500;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Matter SemiMono-TRIAL';
    src: url('MatterSemiMono-RegularItalic.woff2') format('woff2'),
        url('MatterSemiMono-RegularItalic.woff') format('woff');
    font-weight: normal;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Matter SemiMono-TRIAL';
    src: url('MatterSemiMono-Regular.woff2') format('woff2'),
        url('MatterSemiMono-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Matter SemiMono-TRIAL';
    src: url('MatterSemiMono-SemiBold.woff2') format('woff2'),
        url('MatterSemiMono-SemiBold.woff') format('woff');
    font-weight: 600;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Matter SemiMono-TRIAL';
    src: url('MatterSemiMono-Thin.woff2') format('woff2'),
        url('MatterSemiMono-Thin.woff') format('woff');
    font-weight: 100;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Matter SemiMono-TRIAL';
    src: url('MatterSemiMono-SemiBoldItalic.woff2') format('woff2'),
        url('MatterSemiMono-SemiBoldItalic.woff') format('woff');
    font-weight: 600;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Matter SemiMono-TRIAL';
    src: url('MatterSemiMono-ThinItalic.woff2') format('woff2'),
        url('MatterSemiMono-ThinItalic.woff') format('woff');
    font-weight: 100;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Matter-TRIAL';
    src: url('Matter-Black.woff2') format('woff2'),
        url('Matter-Black.woff') format('woff');
    font-weight: 900;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Matter-TRIAL';
    src: url('Matter-BlackItalic.woff2') format('woff2'),
        url('Matter-BlackItalic.woff') format('woff');
    font-weight: 900;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Matter-TRIAL';
    src: url('Matter-Bold.woff2') format('woff2'),
        url('Matter-Bold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Matter-TRIAL';
    src: url('Matter-BoldItalic.woff2') format('woff2'),
        url('Matter-BoldItalic.woff') format('woff');
    font-weight: bold;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Matter-TRIAL';
    src: url('Matter-Heavy.woff2') format('woff2'),
        url('Matter-Heavy.woff') format('woff');
    font-weight: 900;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Matter-TRIAL';
    src: url('Matter-HeavyItalic.woff2') format('woff2'),
        url('Matter-HeavyItalic.woff') format('woff');
    font-weight: 900;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Matter-TRIAL';
    src: url('Matter-Light.woff2') format('woff2'),
        url('Matter-Light.woff') format('woff');
    font-weight: 300;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Matter-TRIAL';
    src: url('Matter-Medium.woff2') format('woff2'),
        url('Matter-Medium.woff') format('woff');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Matter-TRIAL';
    src: url('Matter-MediumItalic.woff2') format('woff2'),
        url('Matter-MediumItalic.woff') format('woff');
    font-weight: 500;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Matter-TRIAL';
    src: url('Matter-LightItalic.woff2') format('woff2'),
        url('Matter-LightItalic.woff') format('woff');
    font-weight: 300;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Matter-TRIAL';
    src: url('Matter-Regular.woff2') format('woff2'),
        url('Matter-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Matter-TRIAL';
    src: url('Matter-RegularItalic.woff2') format('woff2'),
        url('Matter-RegularItalic.woff') format('woff');
    font-weight: normal;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Matter-TRIAL';
    src: url('Matter-SemiBold.woff2') format('woff2'),
        url('Matter-SemiBold.woff') format('woff');
    font-weight: 600;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Matter-TRIAL';
    src: url('Matter-SemiBoldItalic.woff2') format('woff2'),
        url('Matter-SemiBoldItalic.woff') format('woff');
    font-weight: 600;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Matter-TRIAL';
    src: url('Matter-Thin.woff2') format('woff2'),
        url('Matter-Thin.woff') format('woff');
    font-weight: 100;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Matter-TRIAL';
    src: url('Matter-ThinItalic.woff2') format('woff2'),
        url('Matter-ThinItalic.woff') format('woff');
    font-weight: 100;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Matter XH Mono-TRIAL';
    src: url('MatterXHMono-Black.woff2') format('woff2'),
        url('MatterXHMono-Black.woff') format('woff');
    font-weight: 900;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Matter XH Mono-TRIAL';
    src: url('MatterXHMono-BlackItalic.woff2') format('woff2'),
        url('MatterXHMono-BlackItalic.woff') format('woff');
    font-weight: 900;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Matter XH Mono-TRIAL';
    src: url('MatterXHMono-Bold.woff2') format('woff2'),
        url('MatterXHMono-Bold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Matter XH Mono-TRIAL';
    src: url('MatterXHMono-BoldItalic.woff2') format('woff2'),
        url('MatterXHMono-BoldItalic.woff') format('woff');
    font-weight: bold;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Matter XH Mono-TRIAL';
    src: url('MatterXHMono-Heavy.woff2') format('woff2'),
        url('MatterXHMono-Heavy.woff') format('woff');
    font-weight: 900;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Matter XH Mono-TRIAL';
    src: url('MatterXHMono-HeavyItalic.woff2') format('woff2'),
        url('MatterXHMono-HeavyItalic.woff') format('woff');
    font-weight: 900;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Matter XH Mono-TRIAL';
    src: url('MatterXHMono-Light.woff2') format('woff2'),
        url('MatterXHMono-Light.woff') format('woff');
    font-weight: 300;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Matter XH Mono-TRIAL';
    src: url('MatterXHMono-Medium.woff2') format('woff2'),
        url('MatterXHMono-Medium.woff') format('woff');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Matter XH Mono-TRIAL';
    src: url('MatterXHMono-LightItalic.woff2') format('woff2'),
        url('MatterXHMono-LightItalic.woff') format('woff');
    font-weight: 300;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Matter XH Mono-TRIAL';
    src: url('MatterXHMono-MediumItalic.woff2') format('woff2'),
        url('MatterXHMono-MediumItalic.woff') format('woff');
    font-weight: 500;
    font-style: italic;
    font-display: swap;
}
@font-face {
    font-family: 'Matter XH Mono-TRIAL';
    src: url('MatterXHMono-Regular.woff2') format('woff2'),
        url('MatterXHMono-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Matter XH Mono-TRIAL';
    src: url('MatterXHMono-SemiBold.woff2') format('woff2'),
        url('MatterXHMono-SemiBold.woff') format('woff');
    font-weight: 600;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Matter XH Mono-TRIAL';
    src: url('MatterXHMono-RegularItalic.woff2') format('woff2'),
        url('MatterXHMono-RegularItalic.woff') format('woff');
    font-weight: normal;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Matter XH Mono-TRIAL';
    src: url('MatterXHMono-SemiBoldItalic.woff2') format('woff2'),
        url('MatterXHMono-SemiBoldItalic.woff') format('woff');
    font-weight: 600;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Matter XH Mono-TRIAL';
    src: url('MatterXHMono-Thin.woff2') format('woff2'),
        url('MatterXHMono-Thin.woff') format('woff');
    font-weight: 100;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Matter XH Mono-TRIAL';
    src: url('MatterXHMono-ThinItalic.woff2') format('woff2'),
        url('MatterXHMono-ThinItalic.woff') format('woff');
    font-weight: 100;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Matter XH SemiMono-TRIAL';
    src: url('MatterXHSemiMono-Black.woff2') format('woff2'),
        url('MatterXHSemiMono-Black.woff') format('woff');
    font-weight: 900;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Matter XH SemiMono-TRIAL';
    src: url('MatterXHSemiMono-BlackItalic.woff2') format('woff2'),
        url('MatterXHSemiMono-BlackItalic.woff') format('woff');
    font-weight: 900;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Matter XH SemiMono-TRIAL';
    src: url('MatterXHSemiMono-Bold.woff2') format('woff2'),
        url('MatterXHSemiMono-Bold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Matter XH SemiMono-TRIAL';
    src: url('MatterXHSemiMono-BoldItalic.woff2') format('woff2'),
        url('MatterXHSemiMono-BoldItalic.woff') format('woff');
    font-weight: bold;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Matter XH SemiMono-TRIAL';
    src: url('MatterXHSemiMono-Heavy.woff2') format('woff2'),
        url('MatterXHSemiMono-Heavy.woff') format('woff');
    font-weight: 900;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Matter XH SemiMono-TRIAL';
    src: url('MatterXHSemiMono-HeavyItalic.woff2') format('woff2'),
        url('MatterXHSemiMono-HeavyItalic.woff') format('woff');
    font-weight: 900;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Matter XH SemiMono-TRIAL';
    src: url('MatterXHSemiMono-Light.woff2') format('woff2'),
        url('MatterXHSemiMono-Light.woff') format('woff');
    font-weight: 300;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Matter XH SemiMono-TRIAL';
    src: url('MatterXHSemiMono-LightItalic.woff2') format('woff2'),
        url('MatterXHSemiMono-LightItalic.woff') format('woff');
    font-weight: 300;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Matter XH SemiMono-TRIAL';
    src: url('MatterXHSemiMono-Medium.woff2') format('woff2'),
        url('MatterXHSemiMono-Medium.woff') format('woff');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Matter XH SemiMono-TRIAL';
    src: url('MatterXHSemiMono-MediumItalic.woff2') format('woff2'),
        url('MatterXHSemiMono-MediumItalic.woff') format('woff');
    font-weight: 500;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Matter XH SemiMono-TRIAL';
    src: url('MatterXHSemiMono-Regular.woff2') format('woff2'),
        url('MatterXHSemiMono-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Matter XH SemiMono-TRIAL';
    src: url('MatterXHSemiMono-RegularItalic.woff2') format('woff2'),
        url('MatterXHSemiMono-RegularItalic.woff') format('woff');
    font-weight: normal;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Matter XH SemiMono-TRIAL';
    src: url('MatterXHSemiMono-SemiBold.woff2') format('woff2'),
        url('MatterXHSemiMono-SemiBold.woff') format('woff');
    font-weight: 600;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Matter XH SemiMono-TRIAL';
    src: url('MatterXHSemiMono-SemiBoldItalic.woff2') format('woff2'),
        url('MatterXHSemiMono-SemiBoldItalic.woff') format('woff');
    font-weight: 600;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Matter XH SemiMono-TRIAL';
    src: url('MatterXHSemiMono-Thin.woff2') format('woff2'),
        url('MatterXHSemiMono-Thin.woff') format('woff');
    font-weight: 100;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Matter XH SemiMono-TRIAL';
    src: url('MatterXHSemiMono-ThinItalic.woff2') format('woff2'),
        url('MatterXHSemiMono-ThinItalic.woff') format('woff');
    font-weight: 100;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Matter XH-TRIAL';
    src: url('MatterXH-Black.woff2') format('woff2'),
        url('MatterXH-Black.woff') format('woff');
    font-weight: 900;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Matter XH-TRIAL';
    src: url('MatterXH-BlackItalic.woff2') format('woff2'),
        url('MatterXH-BlackItalic.woff') format('woff');
    font-weight: 900;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Matter XH-TRIAL';
    src: url('MatterXH-Bold.woff2') format('woff2'),
        url('MatterXH-Bold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Matter XH-TRIAL';
    src: url('MatterXH-BoldItalic.woff2') format('woff2'),
        url('MatterXH-BoldItalic.woff') format('woff');
    font-weight: bold;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Matter XH-TRIAL';
    src: url('MatterXH-HeavyItalic.woff2') format('woff2'),
        url('MatterXH-HeavyItalic.woff') format('woff');
    font-weight: 900;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Matter XH-TRIAL';
    src: url('MatterXH-Light.woff2') format('woff2'),
        url('MatterXH-Light.woff') format('woff');
    font-weight: 300;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Matter XH-TRIAL';
    src: url('MatterXH-Heavy.woff2') format('woff2'),
        url('MatterXH-Heavy.woff') format('woff');
    font-weight: 900;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Matter XH-TRIAL';
    src: url('MatterXH-LightItalic.woff2') format('woff2'),
        url('MatterXH-LightItalic.woff') format('woff');
    font-weight: 300;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Matter XH-TRIAL';
    src: url('MatterXH-Medium.woff2') format('woff2'),
        url('MatterXH-Medium.woff') format('woff');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Matter XH-TRIAL';
    src: url('MatterXH-MediumItalic.woff2') format('woff2'),
        url('MatterXH-MediumItalic.woff') format('woff');
    font-weight: 500;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Matter XH-TRIAL';
    src: url('MatterXH-Regular.woff2') format('woff2'),
        url('MatterXH-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Matter XH-TRIAL';
    src: url('MatterXH-RegularItalic.woff2') format('woff2'),
        url('MatterXH-RegularItalic.woff') format('woff');
    font-weight: normal;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Matter XH-TRIAL';
    src: url('MatterXH-SemiBold.woff2') format('woff2'),
        url('MatterXH-SemiBold.woff') format('woff');
    font-weight: 600;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Matter XH-TRIAL';
    src: url('MatterXH-SemiBoldItalic.woff2') format('woff2'),
        url('MatterXH-SemiBoldItalic.woff') format('woff');
    font-weight: 600;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Matter XH-TRIAL';
    src: url('MatterXH-Thin.woff2') format('woff2'),
        url('MatterXH-Thin.woff') format('woff');
    font-weight: 100;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Matter XH-TRIAL';
    src: url('MatterXH-ThinItalic.woff2') format('woff2'),
        url('MatterXH-ThinItalic.woff') format('woff');
    font-weight: 100;
    font-style: italic;
    font-display: swap;
}


